header {
	border-bottom:solid thin;
	display:flex;
	justify-content: right;
	padding:1rem;
	margin-bottom:1rem;
}

#current {
	text-align: center;
	margin-bottom: 1rem;
}

#grid{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap: 75px 25px;
	width: 95vw;
}

.zoomable-carousel {
	margin-top: 50px !important;
}
