img {
	image-rendering: high-quality;
}

/* IDs */

/* Classes */

.leaflet-control-attribution {
	display: none !important;
}

.leaflet-control-fullscreen a {
	/* fullscreen.png */
	background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA0CAYAAACU7CiIAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACoSURBVFiF7ZZhDoAgCIWxdbF3suxkHM3+1FaOmNqyIr6fiHuJTyKklKgHQxcVF7rCKAUBiA5h5tCSR/T0iTakL9PWz05IZNEM3YSCt6BvCgFI2ps4Q9v3k9Ldgdrr8nrX9LYc7wwu5EIu9KCQT6rq+r8mVbV0ewBEIpqy8MzMsWR/8f+oxmES9u7olZPqLKQeYtqkWuy61V2xND/H3h35pNqMPTPYE1oAnZZStKN8jj8AAAAASUVORK5CYII=") no-repeat 0 0 !important;
}

.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: 2px -24px !important;
}

.leaflet-tile {
	border: none !important;
	padding: 0px !important;
}

.zoomable-button {
	height: 28px !important;
	width: 28px !important;
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-color: #fff !important;
	border: none !important;	
	
}

.zoomable-button:hover {
	background-color: #fff !important;
	border-color: #fff !important;	
}

.zoomable-caption {
	font-size:small;
	font-style:italic;
	margin-top:1rem;
	margin-bottom:1rem;
}

.zoomable-details {
	width: 70%;
	max-width: 70%;
	overflow:scroll;
	margin: 0 auto;
	margin-top:1.5rem;
}


.zoomable-image {
	text-align:center;
}

.zoomable-loading {
	position: absolute;
	top:43%;
	width:100%;
	text-align:center;
	background-color:#fff;
	opacity:.9;
	padding:1rem;
	display:none;
}

.zoomable-loading-text {
	font-size:small;
	font-style:italic;
	opacity:1 !important;
}

.zoomable-map {
	background-color:#fff;
}

.zoomable-meta {
	display:block;
	font-size:small;
	font-style:italic;
	line-height:1.3rem;
	margin-top:1rem;
	color:#999;
	text-align:center;
}

.zoomable-picture-default {
	// display:none;
}

.zoomable-static {
	position: relative;
	min-height:270px;
	min-width:270px;
	justify-content:center;
	margin: 0 auto;
	background-position:center;
	background-repeat: no-repeat;
	max-width: max-content;
}

.zoomable-stub {
	position: relative;
}

.zoomable-tiles {
	display:none;
	background-color:#fff;
	margin: 0 auto;
}

.zoomable-title:after {
	content: '"';
}

.zoomable-title:before {
	content: '"';
}

.zoomable-toggle {
	position: absolute;
	top: .8rem;
	right: 0rem;
	z-index:5000;
}

.zoomable-toggle-tiles {
	display:none;
    	/* https://github.com/Leaflet/Leaflet.fullscreen/blob/gh-pages/fullscreen.svg */
    	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iMjYiCiAgIGhlaWdodD0iNTIiCiAgIGlkPSJzdmcxNTA0NiIKICAgdmVyc2lvbj0iMS4xIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjQ4LjIgcjk4MTkiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImZ1bGxzY3JlZW4uc3ZnIgogICBpbmtzY2FwZTpleHBvcnQtZmlsZW5hbWU9Ii9Vc2Vycy90cmlzdGVuL2Rldi9tYXBib3gvTGVhZmxldC5mdWxsc2NyZWVuL3NyYy9mdWxsc2NyZWVuQDJ4LnBuZyIKICAgaW5rc2NhcGU6ZXhwb3J0LXhkcGk9IjE4MCIKICAgaW5rc2NhcGU6ZXhwb3J0LXlkcGk9IjE4MCI+CiAgPGRlZnMKICAgICBpZD0iZGVmczE1MDQ4IiAvPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcKICAgICBpZD0iYmFzZSIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiCiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTp6b29tPSIxIgogICAgIGlua3NjYXBlOmN4PSIxMy4xNDg3MDciCiAgICAgaW5rc2NhcGU6Y3k9IjEzLjIyMjE0NSIKICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ibGF5ZXIxIgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjEyODAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNzUyIgogICAgIGlua3NjYXBlOndpbmRvdy14PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiPgogICAgPGlua3NjYXBlOmdyaWQKICAgICAgIHR5cGU9Inh5Z3JpZCIKICAgICAgIGlkPSJncmlkMTUwNTQiCiAgICAgICBlbXBzcGFjaW5nPSI1IgogICAgICAgdmlzaWJsZT0idHJ1ZSIKICAgICAgIGVuYWJsZWQ9InRydWUiCiAgICAgICBzbmFwdmlzaWJsZWdyaWRsaW5lc29ubHk9InRydWUiCiAgICAgICBjb2xvcj0iIzAwMDAwMCIKICAgICAgIG9wYWNpdHk9IjAuMDYyNzQ1MSIKICAgICAgIGVtcGNvbG9yPSIjMDAwMDAwIgogICAgICAgZW1wb3BhY2l0eT0iMC4xMjU0OTAyIiAvPgogIDwvc29kaXBvZGk6bmFtZWR2aWV3PgogIDxtZXRhZGF0YQogICAgIGlkPSJtZXRhZGF0YTE1MDUxIj4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZwogICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiCiAgICAgaWQ9ImxheWVyMiIKICAgICBpbmtzY2FwZTpsYWJlbD0idW5kZXJsYXkiCiAgICAgc3R5bGU9ImRpc3BsYXk6bm9uZSI+CiAgICA8cmVjdAogICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZmlsbDojZjJmMmYyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoyO21hcmtlcjpub25lO3Zpc2liaWxpdHk6dmlzaWJsZTtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiCiAgICAgICBpZD0icmVjdDE1NTY1IgogICAgICAgd2lkdGg9IjI2IgogICAgICAgaGVpZ2h0PSI1MiIKICAgICAgIHg9IjAiCiAgICAgICB5PSIwIiAvPgogICAgPHJlY3QKICAgICAgIHk9IjI2IgogICAgICAgeD0iMCIKICAgICAgIGhlaWdodD0iMjYiCiAgICAgICB3aWR0aD0iMjYiCiAgICAgICBpZD0icmVjdDE1NTg2IgogICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZmlsbDojZTZlNmU2O2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoyO21hcmtlcjpub25lO3Zpc2liaWxpdHk6dmlzaWJsZTtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiIC8+CiAgPC9nPgogIDxnCiAgICAgaW5rc2NhcGU6bGFiZWw9InNwcml0ZSIKICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIgogICAgIGlkPSJsYXllcjEiCiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtMTAwMC4zNjIyKSI+CiAgICA8cGF0aAogICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZmlsbDojNDA0MDQwO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoyO21hcmtlcjpub25lO3Zpc2liaWxpdHk6dmlzaWJsZTtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiCiAgICAgICBkPSJtIDUsMTUgMCw2IDYsMCAwLC0yIC00LDAgMCwtNCB6IgogICAgICAgaWQ9InJlY3QxNTYzNCIKICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgICBzb2RpcG9kaTpub2RldHlwZXM9ImNjY2NjY2MiCiAgICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDEwMDAuMzYyMikiIC8+CiAgICA8cGF0aAogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjIgogICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIKICAgICAgIGlkPSJwYXRoMTU2MzkiCiAgICAgICBkPSJtIDIxLDE1IDAsNiAtNiwwIDAsLTIgNCwwIDAsLTQgeiIKICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2ZpbGw6IzQwNDA0MDtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MjttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwxMDAwLjM2MjIpIiAvPgogICAgPHBhdGgKICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2ZpbGw6IzQwNDA0MDtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MjttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgICAgZD0ibSAxMCwxMDM3LjM2MjIgMCw0IDEsMSA0LDAgMSwtMSAwLC00IC0xLC0xIC00LDAgeiIKICAgICAgIGlkPSJyZWN0MTU2NTMiCiAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIgogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjY2MiIC8+CiAgICA8cGF0aAogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjIgogICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIKICAgICAgIGlkPSJwYXRoMTYwNTkiCiAgICAgICBkPSJtIDUsMTAxMS4zNjIyIDAsLTYgNiwwIDAsMiAtNCwwIDAsNCB6IgogICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZmlsbDojNDA0MDQwO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoyO21hcmtlcjpub25lO3Zpc2liaWxpdHk6dmlzaWJsZTtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiIC8+CiAgICA8cGF0aAogICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZmlsbDojNDA0MDQwO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoyO21hcmtlcjpub25lO3Zpc2liaWxpdHk6dmlzaWJsZTtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiCiAgICAgICBkPSJtIDIxLDEwMTEuMzYyMiAwLC02IC02LDAgMCwyIDQsMCAwLDQgeiIKICAgICAgIGlkPSJwYXRoMTYwNjEiCiAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIgogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjIiAvPgogICAgPHBhdGgKICAgICAgIHNvZGlwb2RpOm5vZGV0eXBlcz0iY2NjY2NjYyIKICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgICBpZD0icGF0aDE2MDYzIgogICAgICAgZD0ibSA1LDEwNDEuMzYyMiAwLDYgNiwwIDAsLTIgLTQsMCAwLC00IHoiCiAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmaWxsOiM0MDQwNDA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjI7bWFya2VyOm5vbmU7dmlzaWJpbGl0eTp2aXNpYmxlO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIgLz4KICAgIDxwYXRoCiAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmaWxsOiM0MDQwNDA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjI7bWFya2VyOm5vbmU7dmlzaWJpbGl0eTp2aXNpYmxlO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIKICAgICAgIGQ9Im0gMjEsMTA0MS4zNjIyIDAsNiAtNiwwIDAsLTIgNCwwIDAsLTQgeiIKICAgICAgIGlkPSJwYXRoMTYwNjUiCiAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIgogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjIiAvPgogICAgPHBhdGgKICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2ZpbGw6IzQwNDA0MDtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MjttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgICAgZD0ibSA1LDEwMzcuMzYyMiAwLC02IDYsMCAwLDIgLTQsMCAwLDQgeiIKICAgICAgIGlkPSJwYXRoMTYwNjciCiAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIgogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjIiAvPgogICAgPHBhdGgKICAgICAgIHNvZGlwb2RpOm5vZGV0eXBlcz0iY2NjY2NjYyIKICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgICBpZD0icGF0aDE2MDY5IgogICAgICAgZD0ibSAyMSwxMDM3LjM2MjIgMCwtNiAtNiwwIDAsMiA0LDAgMCw0IHoiCiAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmaWxsOiM0MDQwNDA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjI7bWFya2VyOm5vbmU7dmlzaWJpbGl0eTp2aXNpYmxlO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIgLz4KICA8L2c+Cjwvc3ZnPgo=");

	background-position-y: 0px;
	position:absolute;
	border:2px solid #ccc !important;
	border-radius:5px !important;
	top: auto !important;
	right: 0 !important;
	bottom: -40px !important;
	background-size: 24px 48px !important;
}

.zoomable-toggle-static {
	display:none;

}

@media (max-width: 900px) {
	
	.zoomable-stub {
		margin-bottom:1.5rem;
	}

	.zoomable-stub:last-child {
		margin-bottom:1rem;
	}
	
}

@media (max-width: 320px) {

	.leaflet-control-fullscreen {
		display:none !important;
	}
	
	.zoomable-static {
		min-height:auto;
		min-width:auto;
		background-size: 270px 270px;
	}

	.zoomable-picture {
		min-height:auto !important;
		min-width:auto !important;
	}
	
	.zoomable-picture-default {
		min-height:auto !important;
		min-width:auto !important;
	}
	
}
