.zoomable-carousel {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    max-width:320px !important;
    padding:10px;
    width:300px;
    margin: 0 auto;
}

#zoomable-carousel-2 {
    grid-template-columns:1fr 1fr 1fr 1fr !important;
}

#zoomable-carousel-1 {
    grid-template-columns:1fr 1fr 1fr !important;
}

.zoomable-carousel-item {
	border:2px solid #fff;
	list-style-type: none !important;
	max-height:60px;
	max-width:60px;
	display:flex;
	justify-content: center;
}

.zoomable-carousel-control {
    text-align:center;
    color:#ccc;
    font-size:40px;
}

.zoomable-carousel-image {
    display: none !important;
}
